li {
    list-style: none;
}

ul {
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: #cccccc;
}

.section-heading {
    margin-top: 50px;
    margin-bottom: 30px;
}

.zoomable {
    opacity: 0; 
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-duration: 1000ms;
}

#page,html {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 60%;
    margin: auto;
}

#type1 {
    font-size: 120px;
    font-weight: bolder;
}

#type2 {
    font-size: 70px;
    font-weight: bold;
}

#type3 {
    font-size: 50px;
    font-weight: bold;
}

#i-am {
    margin-bottom: 200px;
    
}

#i-am-blocks div {
    padding: 20px 4%;
    text-align: center;
}

#i-am-blocks img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    padding: 10% 15%;
    margin-bottom: 20px;
}

#i-am-blocks h3 {
    font-size: 1.5em;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 3px solid;
}

#i-am-blocks p {
    font-size: 0.9em;
    padding: 0 10px;
}



/* SKILLS */

#skills {
    width: 50%;
    margin: auto;
    padding: 20px 15px;
}

.skill-label {
    margin-left: 20px;
    font-weight: bold;
}

.skill-meter {
    border: 2px solid #3c3c3c;
    padding: 2px;
    border-radius: 0 20px 20px 0;
    margin: 10px 0 15px 0;
    background: #ffffff;
}

.skill-line {
    width: 0%;
    height: 20px;
    line-height: 20px;
    border-radius: 0 20px 20px 0;
    background: #3c3c3c;
    color: #ffffff;
}

#my-works {
    margin: 100px 0;
    display: block;
}

#view-my-works-container {
    display: block;
    text-align: center;
}

#view-my-works-btn {
    background: red;
    padding: 10px 25px;
    color: #eee;
}




footer {
    background: #3c3c3c;
    padding: 10px 0;
    color: #ffffff;
    box-shadow: 0 5px 10px #000000;
}

footer a {
    color: #ffffff;
}

footer li {
    display: inline;
    padding: 0;
    margin: 5px 15px;
}


#social {
    z-index: 5;
    position: fixed;
    top: 35%;
    left: 0;
}

#social img {
    width: 34px;
}

#contact {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 25px;
    background: #2c2c2c;
    color: #ffffff;
    border-radius: 50px;
    border: 2px solid #ffffff;
    
}

#contact:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    animation-name: swing;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

#active-icon {
    height: 10px;
    width: 10px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 50%;
    background: green;
}


#underflow {
    background: khaki;
    height: 130vh;
    width: 200%;
    z-index: -10;
    position: absolute;
    transform: rotate(-4deg) translateX(-50px) translateY(-90px);
    overflow-x: hidden;
}

@media screen and (max-width: 760px) {
    
    header {
        width: 80%;
        margin-top: 10vh;
    }

    #type1,#type2,#type3 {
        margin: 15px 0;
        font-weight: 600;
    }
    
    #type1 {
        font-size: 90px;
    }
    
    #type2 {
        font-size: 50px;
    }
    
    #type3 {
        font-size: 40px;
    }

    #social {
        display: none;
    }

    #skills {
        width: 100%;
    }

    #contact {
        display: none;
    }

    #underflow {
        display: none;
    }
}